.light {
  color: #383a42;
  background-color: #fafafa;
  --primary_color: #383a42;
  --secondary_color: #c18401;
  --background_color: #fafafa;
  --border_color: #c7c7c7;
  --hover_color: #000;
}

.dark {
  color: #dcdfe4;
  background-color: #282c34;
  --primary_color: #dcdfe4;
  --secondary_color: #61afef;
  --background_color: #282c34;
  --border_color: #49515f;
  --hover_color: #f78c6c;
}
